.menu {
  height: 40px;
  border: 1px solid rgb(214, 46, 16);
  background-color: beige;
  padding-bottom: 8px;
  font-size: 16px;
  position: relative;
  top: 0;
  width: 100vw;
}

.menu2 {
  height: 40px;
  border: 1px solid rgb(214, 46, 16);
  background-color: beige;
  padding-bottom: 8px;
  font-size: 16px;
  position: fixed;
  top: 0;
  width: 100vw;
}

.navMenu ul,
.navMenu2 ul {
  list-style: none;
  text-align: left;
}

.navMenu li,
.navMenu2 li {
  display: inline;
}

.navMenu ul li a,
.navMenu2 ul li a {
  padding-left: 1.2vw;
  display: inline-block;
  color: #333;
  text-decoration: none;
}

.navMenu ul li a:hover,
.navMenu2 ul li a:hover {
  color: blue;
  font-weight: bold;
  font-size: 22px;
}
